.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 100px; /* Adjust based on your preference */
    margin-right: 10px;
    margin-bottom: 10px;
}
