.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 150px; /* Adjust based on your preference */
    margin-right: 10px;
    margin-bottom: 10px;
}



.pdf-download {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.pdf-download::before {
  content: url('path_to_your_pdf_icon.png'); /* Replace 'path_to_your_pdf_icon.png' with the actual path to your PDF icon image */
  margin-right: 8px;
}
